# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/Codewars_to_Git.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
venv/

# Нерешенные задачи
String_Templates_Bug_Fixing_#5.py
Plural.py
Wilson_primes.py

